version: '3.8'

services:
  napcat:
    image: mlikiowa/napcat-docker:latest
    container_name: napcat
    restart: unless-stopped
    ports:
      - "6099:6099"   # HTTP API
      - "6100:6100"   # WebSocket
    volumes:
      - ./napcat/config:/app/napcat/config
      - ./napcat/data:/app/napcat/data
    environment:
      - NAPCAT_GID=0
      - NAPCAT_UID=0
    mac_address: "02:42:ac:11:00:02"
    stdin_open: true
    tty: true
